<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.model.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.model.UserInfo">
    <id column="sequence_num" jdbcType="INTEGER" property="sequenceNum" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="household" jdbcType="CHAR" property="household" />
    <result column="nation" jdbcType="CHAR" property="nation" />
    <result column="birthday" jdbcType="CHAR" property="birthday" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="grdt_school" jdbcType="VARCHAR" property="grdtSchool" />
    <result column="sch_record" jdbcType="CHAR" property="schRecord" />
    <result column="grdt_date" jdbcType="CHAR" property="grdtDate" />
    <result column="idcard" jdbcType="CHAR" property="idcard" />
    <result column="cellphone" jdbcType="CHAR" property="cellphone" />
    <result column="mail" jdbcType="CHAR" property="mail" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="brn_company" jdbcType="CHAR" property="brnCompany" />
    <result column="department" jdbcType="CHAR" property="department" />
    <result column="join_date" jdbcType="CHAR" property="joinDate" />
    <result column="join_addrss" jdbcType="VARCHAR" property="joinAddrss" />
    <result column="cntrct_type" jdbcType="CHAR" property="cntrctType" />
    <result column="cntrct_begin" jdbcType="CHAR" property="cntrctBegin" />
    <result column="cntrct_end" jdbcType="CHAR" property="cntrctEnd" />
    <result column="salary_card" jdbcType="CHAR" property="salaryCard" />
    <result column="expense_card" jdbcType="CHAR" property="expenseCard" />
    <result column="wtr_item" jdbcType="CHAR" property="wtrItem" />
    <result column="wtr_order" jdbcType="CHAR" property="wtrOrder" />
    <result column="net_unit" jdbcType="CHAR" property="netUnit" />
    <result column="tech_level" jdbcType="CHAR" property="techLevel" />
    <result column="identify_unit" jdbcType="CHAR" property="identifyUnit" />
    <result column="accnt_type" jdbcType="CHAR" property="accntType" />
    <result column="accnt_state" jdbcType="CHAR" property="accntState" />
    <result column="user_state" jdbcType="CHAR" property="userState" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sequence_num, name, age, sex, household, nation, birthday, address, grdt_school, 
    sch_record, grdt_date, idcard, cellphone, mail, user_id, brn_company, department, 
    join_date, join_addrss, cntrct_type, cntrct_begin, cntrct_end, salary_card, expense_card, 
    wtr_item, wtr_order, net_unit, tech_level, identify_unit, accnt_type, accnt_state, 
    user_state
  </sql>
  <select id="selectByExample" parameterType="com.model.UserInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where sequence_num = #{sequenceNum,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where sequence_num = #{sequenceNum,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.UserInfo">
    insert into user_info (sequence_num, name, age, 
      sex, household, nation, birthday, 
      address, grdt_school, sch_record, 
      grdt_date, idcard, cellphone, 
      mail, user_id, brn_company, department, 
      join_date, join_addrss, cntrct_type, 
      cntrct_begin, cntrct_end, salary_card, 
      expense_card, wtr_item, wtr_order, 
      net_unit, tech_level, identify_unit, 
      accnt_type, accnt_state, user_state
      )
    values (#{sequenceNum,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{age,jdbcType=INTEGER}, 
      #{sex,jdbcType=CHAR}, #{household,jdbcType=CHAR}, #{nation,jdbcType=CHAR}, #{birthday,jdbcType=CHAR}, 
      #{address,jdbcType=VARCHAR}, #{grdtSchool,jdbcType=VARCHAR}, #{schRecord,jdbcType=CHAR}, 
      #{grdtDate,jdbcType=CHAR}, #{idcard,jdbcType=CHAR}, #{cellphone,jdbcType=CHAR}, 
      #{mail,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{brnCompany,jdbcType=CHAR}, #{department,jdbcType=CHAR}, 
      #{joinDate,jdbcType=CHAR}, #{joinAddrss,jdbcType=VARCHAR}, #{cntrctType,jdbcType=CHAR}, 
      #{cntrctBegin,jdbcType=CHAR}, #{cntrctEnd,jdbcType=CHAR}, #{salaryCard,jdbcType=CHAR}, 
      #{expenseCard,jdbcType=CHAR}, #{wtrItem,jdbcType=CHAR}, #{wtrOrder,jdbcType=CHAR}, 
      #{netUnit,jdbcType=CHAR}, #{techLevel,jdbcType=CHAR}, #{identifyUnit,jdbcType=CHAR}, 
      #{accntType,jdbcType=CHAR}, #{accntState,jdbcType=CHAR}, #{userState,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.model.UserInfo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sequenceNum != null">
        sequence_num,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="household != null">
        household,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="grdtSchool != null">
        grdt_school,
      </if>
      <if test="schRecord != null">
        sch_record,
      </if>
      <if test="grdtDate != null">
        grdt_date,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
      <if test="cellphone != null">
        cellphone,
      </if>
      <if test="mail != null">
        mail,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="brnCompany != null">
        brn_company,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="joinDate != null">
        join_date,
      </if>
      <if test="joinAddrss != null">
        join_addrss,
      </if>
      <if test="cntrctType != null">
        cntrct_type,
      </if>
      <if test="cntrctBegin != null">
        cntrct_begin,
      </if>
      <if test="cntrctEnd != null">
        cntrct_end,
      </if>
      <if test="salaryCard != null">
        salary_card,
      </if>
      <if test="expenseCard != null">
        expense_card,
      </if>
      <if test="wtrItem != null">
        wtr_item,
      </if>
      <if test="wtrOrder != null">
        wtr_order,
      </if>
      <if test="netUnit != null">
        net_unit,
      </if>
      <if test="techLevel != null">
        tech_level,
      </if>
      <if test="identifyUnit != null">
        identify_unit,
      </if>
      <if test="accntType != null">
        accnt_type,
      </if>
      <if test="accntState != null">
        accnt_state,
      </if>
      <if test="userState != null">
        user_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sequenceNum != null">
        #{sequenceNum,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="household != null">
        #{household,jdbcType=CHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=CHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=CHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="grdtSchool != null">
        #{grdtSchool,jdbcType=VARCHAR},
      </if>
      <if test="schRecord != null">
        #{schRecord,jdbcType=CHAR},
      </if>
      <if test="grdtDate != null">
        #{grdtDate,jdbcType=CHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=CHAR},
      </if>
      <if test="cellphone != null">
        #{cellphone,jdbcType=CHAR},
      </if>
      <if test="mail != null">
        #{mail,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=CHAR},
      </if>
      <if test="brnCompany != null">
        #{brnCompany,jdbcType=CHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=CHAR},
      </if>
      <if test="joinDate != null">
        #{joinDate,jdbcType=CHAR},
      </if>
      <if test="joinAddrss != null">
        #{joinAddrss,jdbcType=VARCHAR},
      </if>
      <if test="cntrctType != null">
        #{cntrctType,jdbcType=CHAR},
      </if>
      <if test="cntrctBegin != null">
        #{cntrctBegin,jdbcType=CHAR},
      </if>
      <if test="cntrctEnd != null">
        #{cntrctEnd,jdbcType=CHAR},
      </if>
      <if test="salaryCard != null">
        #{salaryCard,jdbcType=CHAR},
      </if>
      <if test="expenseCard != null">
        #{expenseCard,jdbcType=CHAR},
      </if>
      <if test="wtrItem != null">
        #{wtrItem,jdbcType=CHAR},
      </if>
      <if test="wtrOrder != null">
        #{wtrOrder,jdbcType=CHAR},
      </if>
      <if test="netUnit != null">
        #{netUnit,jdbcType=CHAR},
      </if>
      <if test="techLevel != null">
        #{techLevel,jdbcType=CHAR},
      </if>
      <if test="identifyUnit != null">
        #{identifyUnit,jdbcType=CHAR},
      </if>
      <if test="accntType != null">
        #{accntType,jdbcType=CHAR},
      </if>
      <if test="accntState != null">
        #{accntState,jdbcType=CHAR},
      </if>
      <if test="userState != null">
        #{userState,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.UserInfo">
    update user_info
    <set>
      <if test="name != null">
        name = #{name,jdbcType=CHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="household != null">
        household = #{household,jdbcType=CHAR},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=CHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=CHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="grdtSchool != null">
        grdt_school = #{grdtSchool,jdbcType=VARCHAR},
      </if>
      <if test="schRecord != null">
        sch_record = #{schRecord,jdbcType=CHAR},
      </if>
      <if test="grdtDate != null">
        grdt_date = #{grdtDate,jdbcType=CHAR},
      </if>
      <if test="idcard != null">
        idcard = #{idcard,jdbcType=CHAR},
      </if>
      <if test="cellphone != null">
        cellphone = #{cellphone,jdbcType=CHAR},
      </if>
      <if test="mail != null">
        mail = #{mail,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="brnCompany != null">
        brn_company = #{brnCompany,jdbcType=CHAR},
      </if>
      <if test="department != null">
        department = #{department,jdbcType=CHAR},
      </if>
      <if test="joinDate != null">
        join_date = #{joinDate,jdbcType=CHAR},
      </if>
      <if test="joinAddrss != null">
        join_addrss = #{joinAddrss,jdbcType=VARCHAR},
      </if>
      <if test="cntrctType != null">
        cntrct_type = #{cntrctType,jdbcType=CHAR},
      </if>
      <if test="cntrctBegin != null">
        cntrct_begin = #{cntrctBegin,jdbcType=CHAR},
      </if>
      <if test="cntrctEnd != null">
        cntrct_end = #{cntrctEnd,jdbcType=CHAR},
      </if>
      <if test="salaryCard != null">
        salary_card = #{salaryCard,jdbcType=CHAR},
      </if>
      <if test="expenseCard != null">
        expense_card = #{expenseCard,jdbcType=CHAR},
      </if>
      <if test="wtrItem != null">
        wtr_item = #{wtrItem,jdbcType=CHAR},
      </if>
      <if test="wtrOrder != null">
        wtr_order = #{wtrOrder,jdbcType=CHAR},
      </if>
      <if test="netUnit != null">
        net_unit = #{netUnit,jdbcType=CHAR},
      </if>
      <if test="techLevel != null">
        tech_level = #{techLevel,jdbcType=CHAR},
      </if>
      <if test="identifyUnit != null">
        identify_unit = #{identifyUnit,jdbcType=CHAR},
      </if>
      <if test="accntType != null">
        accnt_type = #{accntType,jdbcType=CHAR},
      </if>
      <if test="accntState != null">
        accnt_state = #{accntState,jdbcType=CHAR},
      </if>
      <if test="userState != null">
        user_state = #{userState,jdbcType=CHAR},
      </if>
    </set>
    where sequence_num = #{sequenceNum,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.UserInfo">
    update user_info
    set name = #{name,jdbcType=CHAR},
      age = #{age,jdbcType=INTEGER},
      sex = #{sex,jdbcType=CHAR},
      household = #{household,jdbcType=CHAR},
      nation = #{nation,jdbcType=CHAR},
      birthday = #{birthday,jdbcType=CHAR},
      address = #{address,jdbcType=VARCHAR},
      grdt_school = #{grdtSchool,jdbcType=VARCHAR},
      sch_record = #{schRecord,jdbcType=CHAR},
      grdt_date = #{grdtDate,jdbcType=CHAR},
      idcard = #{idcard,jdbcType=CHAR},
      cellphone = #{cellphone,jdbcType=CHAR},
      mail = #{mail,jdbcType=CHAR},
      user_id = #{userId,jdbcType=CHAR},
      brn_company = #{brnCompany,jdbcType=CHAR},
      department = #{department,jdbcType=CHAR},
      join_date = #{joinDate,jdbcType=CHAR},
      join_addrss = #{joinAddrss,jdbcType=VARCHAR},
      cntrct_type = #{cntrctType,jdbcType=CHAR},
      cntrct_begin = #{cntrctBegin,jdbcType=CHAR},
      cntrct_end = #{cntrctEnd,jdbcType=CHAR},
      salary_card = #{salaryCard,jdbcType=CHAR},
      expense_card = #{expenseCard,jdbcType=CHAR},
      wtr_item = #{wtrItem,jdbcType=CHAR},
      wtr_order = #{wtrOrder,jdbcType=CHAR},
      net_unit = #{netUnit,jdbcType=CHAR},
      tech_level = #{techLevel,jdbcType=CHAR},
      identify_unit = #{identifyUnit,jdbcType=CHAR},
      accnt_type = #{accntType,jdbcType=CHAR},
      accnt_state = #{accntState,jdbcType=CHAR},
      user_state = #{userState,jdbcType=CHAR}
    where sequence_num = #{sequenceNum,jdbcType=INTEGER}
  </update>
</mapper>