<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.YoSalaryMapper" >
  <resultMap id="BaseResultMap" type="com.model.YoSalary" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="salaryid" property="salaryid" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="datetype" property="datetype" jdbcType="VARCHAR" />
    <result column="attendance" property="attendance" jdbcType="VARCHAR" />
    <result column="attendance_salary" property="attendanceSalary" jdbcType="DOUBLE" />
    <result column="leavetype" property="leavetype" jdbcType="VARCHAR" />
    <result column="leavesalary" property="leavesalary" jdbcType="DOUBLE" />
    <result column="workovertime" property="workovertime" jdbcType="VARCHAR" />
    <result column="worksalary" property="worksalary" jdbcType="DOUBLE" />
    <result column="evection" property="evection" jdbcType="VARCHAR" />
    <result column="allowance" property="allowance" jdbcType="VARCHAR" />
    <result column="timesalary" property="timesalary" jdbcType="DOUBLE" />
    <result column="task" property="task" jdbcType="VARCHAR" />
    <result column="tasksalary" property="tasksalary" jdbcType="DOUBLE" />
    <result column="busalary" property="busalary" jdbcType="DOUBLE" />
    <result column="trafficsalary" property="trafficsalary" jdbcType="DOUBLE" />
    <result column="additionalsalary" property="additionalsalary" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sid, userid, salaryid, date, datetype, attendance, attendance_salary, leavetype, 
    leavesalary, workovertime, worksalary, evection, allowance, timesalary, task, tasksalary, 
    busalary, trafficsalary, additionalsalary
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.model.YoSalaryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yo_salary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>



  <!--模糊查询与关联查询-->
  <select id="selectAllUser" resultMap="BaseResultMap" parameterType="com.model.YoSalary">
    SELECT sid, userid, salaryid, DATE, datetype, attendance, attendance_salary, leavetype,
    leavesalary, workovertime, worksalary, evection, allowance, timesalary, task, tasksalary,
    busalary, trafficsalary, additionalsalary,NAME
    FROM yo_salary yo_salary LEFT JOIN staff_info ON userid=staff_user_id
    <where>
      <if test="name!=null">
        name like CONCAT('%','${name}','%' )
      </if>
    </where>
  </select>






  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yo_salary
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yo_salary
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.model.YoSalaryExample" >
    delete from yo_salary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.model.YoSalary" >
    insert into yo_salary (sid, userid, salaryid, 
      date, datetype, attendance, 
      attendance_salary, leavetype, leavesalary, 
      workovertime, worksalary, evection, 
      allowance, timesalary, task, 
      tasksalary, busalary, trafficsalary, 
      additionalsalary)
    values (#{sid,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{salaryid,jdbcType=VARCHAR}, 
      #{date,jdbcType=DATE}, #{datetype,jdbcType=VARCHAR}, #{attendance,jdbcType=VARCHAR}, 
      #{attendanceSalary,jdbcType=DOUBLE}, #{leavetype,jdbcType=VARCHAR}, #{leavesalary,jdbcType=DOUBLE}, 
      #{workovertime,jdbcType=VARCHAR}, #{worksalary,jdbcType=DOUBLE}, #{evection,jdbcType=VARCHAR}, 
      #{allowance,jdbcType=VARCHAR}, #{timesalary,jdbcType=DOUBLE}, #{task,jdbcType=VARCHAR}, 
      #{tasksalary,jdbcType=DOUBLE}, #{busalary,jdbcType=DOUBLE}, #{trafficsalary,jdbcType=DOUBLE}, 
      #{additionalsalary,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.model.YoSalary" >
    insert into yo_salary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="salaryid != null" >
        salaryid,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="datetype != null" >
        datetype,
      </if>
      <if test="attendance != null" >
        attendance,
      </if>
      <if test="attendanceSalary != null" >
        attendance_salary,
      </if>
      <if test="leavetype != null" >
        leavetype,
      </if>
      <if test="leavesalary != null" >
        leavesalary,
      </if>
      <if test="workovertime != null" >
        workovertime,
      </if>
      <if test="worksalary != null" >
        worksalary,
      </if>
      <if test="evection != null" >
        evection,
      </if>
      <if test="allowance != null" >
        allowance,
      </if>
      <if test="timesalary != null" >
        timesalary,
      </if>
      <if test="task != null" >
        task,
      </if>
      <if test="tasksalary != null" >
        tasksalary,
      </if>
      <if test="busalary != null" >
        busalary,
      </if>
      <if test="trafficsalary != null" >
        trafficsalary,
      </if>
      <if test="additionalsalary != null" >
        additionalsalary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="salaryid != null" >
        #{salaryid,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="datetype != null" >
        #{datetype,jdbcType=VARCHAR},
      </if>
      <if test="attendance != null" >
        #{attendance,jdbcType=VARCHAR},
      </if>
      <if test="attendanceSalary != null" >
        #{attendanceSalary,jdbcType=DOUBLE},
      </if>
      <if test="leavetype != null" >
        #{leavetype,jdbcType=VARCHAR},
      </if>
      <if test="leavesalary != null" >
        #{leavesalary,jdbcType=DOUBLE},
      </if>
      <if test="workovertime != null" >
        #{workovertime,jdbcType=VARCHAR},
      </if>
      <if test="worksalary != null" >
        #{worksalary,jdbcType=DOUBLE},
      </if>
      <if test="evection != null" >
        #{evection,jdbcType=VARCHAR},
      </if>
      <if test="allowance != null" >
        #{allowance,jdbcType=VARCHAR},
      </if>
      <if test="timesalary != null" >
        #{timesalary,jdbcType=DOUBLE},
      </if>
      <if test="task != null" >
        #{task,jdbcType=VARCHAR},
      </if>
      <if test="tasksalary != null" >
        #{tasksalary,jdbcType=DOUBLE},
      </if>
      <if test="busalary != null" >
        #{busalary,jdbcType=DOUBLE},
      </if>
      <if test="trafficsalary != null" >
        #{trafficsalary,jdbcType=DOUBLE},
      </if>
      <if test="additionalsalary != null" >
        #{additionalsalary,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.model.YoSalaryExample" resultType="java.lang.Integer" >
    select count(*) from yo_salary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update yo_salary
    <set >
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.salaryid != null" >
        salaryid = #{record.salaryid,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=DATE},
      </if>
      <if test="record.datetype != null" >
        datetype = #{record.datetype,jdbcType=VARCHAR},
      </if>
      <if test="record.attendance != null" >
        attendance = #{record.attendance,jdbcType=VARCHAR},
      </if>
      <if test="record.attendanceSalary != null" >
        attendance_salary = #{record.attendanceSalary,jdbcType=DOUBLE},
      </if>
      <if test="record.leavetype != null" >
        leavetype = #{record.leavetype,jdbcType=VARCHAR},
      </if>
      <if test="record.leavesalary != null" >
        leavesalary = #{record.leavesalary,jdbcType=DOUBLE},
      </if>
      <if test="record.workovertime != null" >
        workovertime = #{record.workovertime,jdbcType=VARCHAR},
      </if>
      <if test="record.worksalary != null" >
        worksalary = #{record.worksalary,jdbcType=DOUBLE},
      </if>
      <if test="record.evection != null" >
        evection = #{record.evection,jdbcType=VARCHAR},
      </if>
      <if test="record.allowance != null" >
        allowance = #{record.allowance,jdbcType=VARCHAR},
      </if>
      <if test="record.timesalary != null" >
        timesalary = #{record.timesalary,jdbcType=DOUBLE},
      </if>
      <if test="record.task != null" >
        task = #{record.task,jdbcType=VARCHAR},
      </if>
      <if test="record.tasksalary != null" >
        tasksalary = #{record.tasksalary,jdbcType=DOUBLE},
      </if>
      <if test="record.busalary != null" >
        busalary = #{record.busalary,jdbcType=DOUBLE},
      </if>
      <if test="record.trafficsalary != null" >
        trafficsalary = #{record.trafficsalary,jdbcType=DOUBLE},
      </if>
      <if test="record.additionalsalary != null" >
        additionalsalary = #{record.additionalsalary,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update yo_salary
    set sid = #{record.sid,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=VARCHAR},
      salaryid = #{record.salaryid,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=DATE},
      datetype = #{record.datetype,jdbcType=VARCHAR},
      attendance = #{record.attendance,jdbcType=VARCHAR},
      attendance_salary = #{record.attendanceSalary,jdbcType=DOUBLE},
      leavetype = #{record.leavetype,jdbcType=VARCHAR},
      leavesalary = #{record.leavesalary,jdbcType=DOUBLE},
      workovertime = #{record.workovertime,jdbcType=VARCHAR},
      worksalary = #{record.worksalary,jdbcType=DOUBLE},
      evection = #{record.evection,jdbcType=VARCHAR},
      allowance = #{record.allowance,jdbcType=VARCHAR},
      timesalary = #{record.timesalary,jdbcType=DOUBLE},
      task = #{record.task,jdbcType=VARCHAR},
      tasksalary = #{record.tasksalary,jdbcType=DOUBLE},
      busalary = #{record.busalary,jdbcType=DOUBLE},
      trafficsalary = #{record.trafficsalary,jdbcType=DOUBLE},
      additionalsalary = #{record.additionalsalary,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.YoSalary" >
    update yo_salary
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="salaryid != null" >
        salaryid = #{salaryid,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=DATE},
      </if>
      <if test="datetype != null" >
        datetype = #{datetype,jdbcType=VARCHAR},
      </if>
      <if test="attendance != null" >
        attendance = #{attendance,jdbcType=VARCHAR},
      </if>
      <if test="attendanceSalary != null" >
        attendance_salary = #{attendanceSalary,jdbcType=DOUBLE},
      </if>
      <if test="leavetype != null" >
        leavetype = #{leavetype,jdbcType=VARCHAR},
      </if>
      <if test="leavesalary != null" >
        leavesalary = #{leavesalary,jdbcType=DOUBLE},
      </if>
      <if test="workovertime != null" >
        workovertime = #{workovertime,jdbcType=VARCHAR},
      </if>
      <if test="worksalary != null" >
        worksalary = #{worksalary,jdbcType=DOUBLE},
      </if>
      <if test="evection != null" >
        evection = #{evection,jdbcType=VARCHAR},
      </if>
      <if test="allowance != null" >
        allowance = #{allowance,jdbcType=VARCHAR},
      </if>
      <if test="timesalary != null" >
        timesalary = #{timesalary,jdbcType=DOUBLE},
      </if>
      <if test="task != null" >
        task = #{task,jdbcType=VARCHAR},
      </if>
      <if test="tasksalary != null" >
        tasksalary = #{tasksalary,jdbcType=DOUBLE},
      </if>
      <if test="busalary != null" >
        busalary = #{busalary,jdbcType=DOUBLE},
      </if>
      <if test="trafficsalary != null" >
        trafficsalary = #{trafficsalary,jdbcType=DOUBLE},
      </if>
      <if test="additionalsalary != null" >
        additionalsalary = #{additionalsalary,jdbcType=DOUBLE},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.YoSalary" >
    update yo_salary
    set userid = #{userid,jdbcType=VARCHAR},
      salaryid = #{salaryid,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      datetype = #{datetype,jdbcType=VARCHAR},
      attendance = #{attendance,jdbcType=VARCHAR},
      attendance_salary = #{attendanceSalary,jdbcType=DOUBLE},
      leavetype = #{leavetype,jdbcType=VARCHAR},
      leavesalary = #{leavesalary,jdbcType=DOUBLE},
      workovertime = #{workovertime,jdbcType=VARCHAR},
      worksalary = #{worksalary,jdbcType=DOUBLE},
      evection = #{evection,jdbcType=VARCHAR},
      allowance = #{allowance,jdbcType=VARCHAR},
      timesalary = #{timesalary,jdbcType=DOUBLE},
      task = #{task,jdbcType=VARCHAR},
      tasksalary = #{tasksalary,jdbcType=DOUBLE},
      busalary = #{busalary,jdbcType=DOUBLE},
      trafficsalary = #{trafficsalary,jdbcType=DOUBLE},
      additionalsalary = #{additionalsalary,jdbcType=DOUBLE}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>